<div class="row my-5">
    <div class="col">
        <h1 class="text-center mb-3">도서검색</h1>
        <div class="row justify-content-end mb-3">
            <!--해상도에 따라 넓이가 달라짐-->
            <!--검색할때마다 페이지가 번쩍하는데 번쩍하지 않고 데이터만 바꿔주는 것이 ajax-->
            <form class="col-6 col-md-4 col-lg-3" name="frm">
                <div class="input-group">
                    <input class="form-control" name="query" value="자바">
                    <button class="btn btn-primary">검색</button>
                </div>
            </from>
        </div>
        <div id="div_books"></div>"
    </div>
</div>

<!--도서목록 템플릿-->
<script type="x-handlebars-template" id ="temp_books">
    <table class="table table-striped">
        <!--핸들바 반복명령문-->
        {{#each documents}}
            <tr>
                <!--변수명 찍을때 중괄호 두개-->
                <td><img src="{{thumbnail}}" width="50"></td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{authors}}</td>
            </tr>
        {{/each}}
    </table>
</script>

<script>
    let query=$(frm.query).val();

    getBooks();

    // 이벤트가 실행되지 않도록 막아줌
    $(frm).on("submit", function(e){
        e.preventDefault(); // submit 이벤트를 막아줌
        query=$(frm.query).val();
        getBooks();
    });

    // 도서검색 목록 가져오기
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization":"KakaoAK 946e2e15a15fff0476418e755bb41a6f"},
            data:{query :query, page:1, size:5},
            success:function(data){
                console.log(data);
                let temp=Handlebars.compile($("#temp_books").html())
                $("#div_books").html(temp(data));

                // data를 temp에 넣어서 #div_books에 넣는다
            }
        })
        // api 실행시키는 함수(기본 예제)
    }
</script>